.product_list {
    max-width: 1280px;
    margin: auto;
}

.product_list_title {
    margin-top: 34px;
    margin-bottom: 40px;

}

.product_list_container {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

}